/* table borders */
table {border-collapse: collapse;}
th, td {border: 1px solid #000;}
thead th:first-child {border: none;}

/* table colors */
tbody td:nth-of-type(1) {color: #f00;}
tbody td:nth-of-type(3) {color: #00f;}
th:first-child {
	font-style: italic;
	font-weight:normal;
}
tbody tr:nth-child(odd) {background:#aea;}
tbody tr:nth-child(even){background:#aae;}

/* dt hover */
dt:hover + dd {background: purple;}

/* divs */
.outer-content {
	margin: 20px 0px;
	padding: 20px;
	width: 75%;
	background: pink;
}

.inner-content {
	background: #33f;
	color: #fff;
	width: 75%;
	margin: auto;
	text-align: center;
}

/* float pic */
img {float: left;}
